body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0;
    margin-top: -2px;
    width: 780px;
    /*min-height: 280px;*/
    background-color: #fff;
    overflow-x: hidden;
}

.top {
    padding-left: 0;
    padding-right: 0;
    padding-top: 10px;
    padding-bottom: 12px;
    height: 30px;
    background-color: #91b247;
    width: 100%;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

#user {
    font-size: 16px;
    color: white;
    text-align: right;
    line-height: 1.42857143;
    margin-top: 5px;
    margin-left: 20px
}

.export {
    color: white;
    font-size: 16px;
    line-height: 1.42857143;
    margin-top: 4px;
    margin-right: 15px;
    margin-left: 30px
}

#exit {
    margin-left: 20px;
}

.left {
    float: left;
}

#name {
    text-transform: uppercase;
}

.center {
    text-align: center;
}

#cargoLogin {
    text-align: center;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #666;
    font-weight: 400;
    font-size: 14px;
    text-align: left;
}

.form-control {
    width: 100%;
    height: 25px;
    padding: 6px 8px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#cargoSubmit {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 12px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border-radius: 4px;
}

#cargoSubmit:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}

.button {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    display: inline-block;
    padding: 5px 12px;
    margin-bottom: 0;
    margin-left: 20px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border-radius: 4px;
}

.button:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}

.hidden {
    display: none;
}

#error {
    color: red;
    font-size: 16px;
    height: 20px;
}

.container {
    padding-top: 1%;
    padding-left: 15%;
    padding-right: 15%;
}

.result {
    font-size: 18px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.link {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.default:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}

a {
    text-decoration: none;
}

table {

    border-spacing: 0;
    border-collapse: collapse
}

td, th {
    border: 1px solid #d0d0d0;
    padding: 5px;
    color: #555;
    font-size: 14px;
    line-height: 1.42857143;
}

.tr-header {
    color: #666666;
    text-align: center;
    font-size: 14px;
    /* font-weight: 600;*/
    background-color: #f9f9f9;
}

#go-to-site {
    margin-left: 10px;
    margin-bottom: 2px;
}

.right {
    margin-right: 60px;
}
